<?xml version="1.0" encoding="utf-8"?>
<manifest
        xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools">


    <queries>
        <!-- Legacy LinkSheet packages -->
        <package android:name="fe.linksheet" />
        <package android:name="fe.linksheet.nightly" />
        <package android:name="fe.linksheet.debug" />

        <!-- LinkSheet Pro packages -->
        <package android:name="fe.linksheet.pro" />
        <package android:name="fe.linksheet.pro.nightly" />
        <package android:name="fe.linksheet.pro.debug" />

        <!-- LinkSheet FOSS packages -->
        <package android:name="fe.linksheet.foss" />
        <package android:name="fe.linksheet.foss.nightly" />
        <package android:name="fe.linksheet.foss.debug" />
    </queries>

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            tools:targetApi="31">
        <service android:name=".AssistService"
                 android:permission="android.permission.BIND_VOICE_INTERACTION" android:exported="true">
            <meta-data android:name="android.voice_interaction" android:resource="@xml/interaction_service"/>
            <intent-filter>
                <action android:name="android.service.voice.VoiceInteractionService"/>
            </intent-filter>
        </service>
        <service android:name=".AssistSessionService" android:exported="true"
                 android:permission="android.permission.BIND_VOICE_INTERACTION"/>

    </application>
</manifest>
